@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.cdnfonts.com/css/-133");
@font-face {
  font-family: "Manly";
  src: url(./fonts/Manly.ttf);
}

body {
  background: url("https://images.unsplash.com/photo-1476108621677-3c620901b5e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}
.awalan {
  padding: 3rem 6rem;
  font-family: "Mintsoda - Lime Green 16x16", sans-serif;
}
.hari {
  font-family: "Manly";
  font-size: 50px;
}
footer {
  padding-top: 8rem;
  display: flex;
  justify-content: center;
}
